<% @recipes.each do |recipe| %>
  <p> Recipe Name: <%= recipe.name %> </p>
  <p> Ingredients:  <%= recipe.ingredients %> </p>
  <p> Cook time:  <%= recipe.cook_time %> </p>
  <a href="/recipes/<%= recipe.id%>">Link to <%= recipe.name %> </a>
<% end %>